<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PublicKeyPrivateKey" value="5cK+?XLr_Gc0Rt@0bYW$7JMpTmj"/>
    <add key="PublicKeyPublicKey" value="5cK+?XLr_Gc0Rt@0bYW$7JMpTmj"/>
    <add key="BulkCipherKey" value="A_+Pmzf12FB?th2nPmkaX@el$Sh+"/>
    <add key="Sha256HashSalt" value="BE8@+U9i+9tu"/>
  </appSettings>
</configuration>
