<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BulkCipherKey" value="A_+Pmzf12FB?th2nPmkaX@el$Sh+"/>
    <add key="Sha256HashSalt" value="BE8@+U9i+9tu"/>
    <add key="toPlainTextPort" value="5063"/>
    <add key="toCipherTextPort" value="5064"/>
    <add key="hashPort" value="5065"/>
  </appSettings>
</configuration>
