<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PublicKeyPrivateKey" value="5cK+?XLr_Gc0Rt@0bYW$7JMpTmj"/>
    <add key="PublicKeyPublicKey" value="5cK+?XLr_Gc0Rt@0bYW$7JMpTmj"/>
    <add key="BulkCipherKey" value="A_+Pmzf12FB?th2nPmkaX@el$Sh+"/>
    <add key="Sha256HashSalt" value="BE8@+U9i+9tu"/>
    <add key="NoFuture.Shared.Constants.UseReflectionOnlyLoad" value="False"/>
    <add key="GetAsmIndicesCmdPort" value="5059"/>
    <add key="GetTokenIdsCmdPort" value="5060"/>
    <add key="GetTokenNamesCmdPort" value="5061"/>
    <add key="NoFuture.TempDirectories.Debug" value="C:\Projects\31g\trunk\temp\debug"/>
    <add key="ResolveGacAssemblies" value="False"/>
    <add key="MaxRecursionDepth" value="16"/>    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
