<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- in whole seconds-->
    <add key="Hbm.Settings.HbmStoredProcXsdTimeOut" value="30"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
