<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaxExceptionsCount" value="10"/>
    <add key="NoFuture.BinDirectories.Root" value="C:\Projects\31g\trunk\bin"/>
    <add key="NoFuture.TempDirectories.SvcUtil" value="C:\Projects\31g\trunk\temp\code\svcUtil"/>
    <add key="NoFuture.JavaTools.StanfordPostTaggerModels" value="C:\Projects\31g\trunk\bin\stanford-postagger-2015-04-20\models"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
