<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NoFuture.Shared.Constants.UseReflectionOnlyLoad" value="False"/>
    <add key="NoFuture.TempDirectories.Debug" value="C:\Projects\31g\trunk\temp\debug"/>
    <add key="KeepRTempFiles" value="False"/>
    <add key="NoFuture.ToolsCustomTools.InvokeNfTypeName" value="C:\Projects\31g\trunk\bin\NoFuture.Tokens.InvokeNfTypeName.exe"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>