<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="2.1.0" targetFramework="net47" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="net47" />
  <package id="FSharp.Data" version="3.2.4" targetFramework="net47" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net47" />
  <package id="MathNet.Numerics.FSharp" version="4.8.1" targetFramework="net47" />
  <package id="MathNet.Numerics.MKL.Win" version="2.3.0" targetFramework="net47" />
</packages>