<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NoFuture.Shared.Constants.UseReflectionOnlyLoad" value="False"/>
    <add key="TokensPosHostDefaultPort" value="5063"/>
    <add key="NoFuture.TempDirectories.Debug" value="C:\Projects\_NoFuture\temp\debug"/>
    <add key="NoFuture.JavaTools.StanfordPostTaggerModels" value="C:\Projects\_NoFuture\bin\stanford-postagger-2017-06-09\models"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
