<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NoFuture.Shared.Constants.UseReflectionOnlyLoad" value="False"/>
    <add key="GetAsmIndicesCmdPort" value="5059"/>
    <add key="GetTokenIdsCmdPort" value="5060"/>
    <add key="GetTokenNamesCmdPort" value="5061"/>
    <add key="NoFuture.TempDirectories.Debug" value="C:\Projects\31g\trunk\temp\debug"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
