<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NoFuture.Shared.Constants.UseReflectionOnlyLoad" value="False"/>
    <add key="NoFuture.TempDirectories.Debug" value="C:\Projects\_NoFuture\temp\debug"/>
    <add key="GetFlattenAssemblyCmdPort" value="5062"/>
    <add key="NoFuture.ToolsCustomTools.InvokeNfTypeName" value="C:\Projects\_NoFuture\bin\NoFuture.Tokens.InvokeNfTypeName.exe"/>
    <add key="MaxDepth" value="16"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
