<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet" value="https://www.nuget.org/api/v2/" />
    <add key="NuGetProxied" value="http://lenws0570:8500/nuget/OfficialProxied" />
  </packageSources>
</configuration>