<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="appdomain" value="C:\Projects\_NoFuture\temp\httpAppDomain\"/>
    <add key="asphttp" value="http://+:1138/"/>
    <add key="NoFuture.Shared.Constants.UseReflectionOnlyLoad" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
